/* SMALL---------------------------------------------- */
@media screen and (max-width : 576px) {

    /* nav------------------ */
    .nav-bar {
        flex-direction: column;
        padding: 40px;
        margin: auto;
    }

    .nav-right {
        flex-direction: column;
        padding-top: 25px;
    }

    /* banner-1 */
    .banner1-container {
        flex-direction: column-reverse;
    }

    .banner1-img img {
        width: 250px;
        height: 250px;
        padding: 0px;
    }

    .banner1-about {
        padding: 20px 15px;
        background-size: 300px 350px;
    }


    /* banner-2 */
    .banner2-container {
        flex-direction: column;
        background: none;
        padding: 0px;
    }

    .banner2-img>img {
        width: 250px;
        height: 150px;
        padding: 20px 30px;
    }

    .banner2-about {
        text-align: center;
    }

    .gamer-quote {
        font-size: 1.5rem;
    }

    /* online games---------- */
    .games-card-container {
        width: 180px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;

    }

    .games-card-content {
        width: 180px;
        height: 300px;
    }

    .online-games-title {
        font-size: 1.5rem;
    }

    .online-collection {
        font-size: 10px;
    }


    /* z-index------------- */
    .index-flex1 {
        flex-direction: column;
        text-align: center;
        /* position: relative;   */
    }

    .index-side-img img {
        width: 200px;
        height: 200px; 
    }
    
    .index-img img {
        position: absolute;
        width: 100px;
        height: 110px;
        left: 20px;
        bottom: -240%;
    }

}



















    /* medium-------------------------------------------- */
    @media screen and (min-width :576px) and (max-width : 768px) {
        .nav-bar {
            flex-direction: column;
            padding: 40px;
            margin: auto;
        }

        .nav-right {
            padding-top: 25px;
        }

        /* banner -1---------------------- */
        .banner1-container {
            padding: 0 80px;
            /* padding: 0px; */
        }

        .banner1-img img {
            width: 250px;
            height: 250px;
            padding: 0px;
        }

        .banner1-about {
            padding: 20px 15px;
            background-size: 300px 350px;
        }

        /* banner-2--------------------------- */
        .banner2-container {
            padding: 60px;
        }

        .banner2-img>img {
            width: 300px;
            height: 200px;
        }

        .gamer-quote {
            font-size: 1.5rem;
        }


        /* online games---------- */
        .games-card-container {
            width: 400px;
            grid-template-columns: repeat(2, 220px);
            gap: 20px;
            padding: 30px 50px;

        }

        .games-card img {
            width: 220px;
            height: 300px;
        }
    }