@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
}

h2 {
    font-size: 4rem;
    font: 800;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.color1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color2 {
    color: #FF42A5;
}

.cmn-btn {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    margin: 20px 5px;
    color: white;
    background-color: #FF42A5;
}

/* body {
    margin: 20px;
    border: 1px solid red;
} */

a {
    text-decoration: none;
    color: black;
}


/* nav------------------------------------- */
.nav-bar {
    display: flex;
    padding: 40px 0px;
    justify-content: space-around;
    align-items: center;
}

.nav-bar li {
    list-style: none;
}


.logo-div {
    display: flex;
    font-size: 30px;
}

.logo-div img {
    padding-right: 10px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right li {
    padding: 0px 0 15px 10px;
}

.follow-us {
    height: 15px;
    display: flex;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    padding: 5px;
    margin: auto 0 15px 25px;

}

.follow-us img {
    height: 15px;
}




/* banner-1 ---------------------*/
.banner1-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

}

.banner1-about .img-icon {
    display: flex;
    gap: 5px;
    align-items: center;
}

.banner1-about .img-icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.btn2 {
    background: #4EC5F7;
}

.banner1-about {
    background-image: url("./images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 150px;
}

.banner1-img img {
    width: 350px;
    height: 340px;
}


/* banner-2--------------------- */
.banner2-container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 150px 50px 50px;
    margin: auto;
}

.banner2-img>img {
    width: 400px;
    height: 200px;
}

.banner2-about {
    text-align: right;
}

.about-gamer {
    font-size: 10px;
}

.gamer-quote {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(70, 68, 68);
}

/* online games ----------------*/
.online-games {
    text-align: center;
    padding-top: 50px;
}

.online-games li {
    list-style: none;
}

.online-games-title {
    font-weight: 800;
    font-size: 2.5rem;
}

.games-card-container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: 0 auto;
}

.games-card img {
    width: 170px;
    height: 230px;
}

/* hover with icon ------------*/
.games-card {
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background: rgb(110, 106, 106);
   
}
.overlay p{
    font-size: 15px;
    font-weight: 600;
}

.games-card:hover .overlay {
    opacity: .8;
    border: 3px solid #FF42A5;
}

.icon {
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 25%;
}



/* Z-index-------------------- */
.index-flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    text-align: right;
    margin: auto;
    padding-top: 100px;
}

.play-guide {
    margin-top: 20px;
}

.index-side-img1 img {
    width: 300px;
    height: 300px;
}
.index-side-img1{
    position: relative;
}

.index-img1 img {
    width: 130px;
    height: 140px;
    position: absolute;
    z-index: 1;
    left: -30px;
    bottom: -50px;
}

/* z-index2------------- */

.index-flex2 {
    flex-direction: row-reverse;
    margin: auto;
    padding-bottom: 150px;
}

.index-side-img2 img {
    width: 300px;
    height: 300px;
}
.index-side-img2{
    position: relative;
}

.index-img2 img {
    width: 130px;
    height: 140px;
    position: absolute;
    z-index: 1;
    right: -30px;
    bottom: -50px;
}



/* careers----------- */
.careers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    
}

.careers-about {
    color: white;
    font-size: .8rem;
    text-align: left;
    padding:0px 50px;
}

.opportunity {
    display: flex;
    padding-top: 50px;
    justify-content: flex-start;
    gap: 20px;
}

.skills {
    text-align: left;
}

.region {
    text-align: right;
}

.careers-btn {
    background: white;
    color: #db4592;
    font-weight: 550;
    width: 130px;
    margin-top: 40px;
}

.future-img img {
    height: 400px;
}



/* games types */
.types-container{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,150px);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin: auto 0px;
    text-align: center;
    padding: 50px 0px;
}
.games-container{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
}
.games-container img{
    width: 30px;
    height: 30px;
}
.games-container:hover {
    border:1px solid #FF42A5;
    color: #FF42A5;
    border-radius: 20px;
}


/* footer */
footer{
    list-style: none;
    text-decoration: none;
    background: #0B0223;
    text-align: center;
    color: white;
    padding: 100px 0;
    font-size: .8rem;
}
footer a{
    color: white;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20PX;
}
.about-link, .join-us, .policy{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 10px 0px;
}
.copy-right{
    padding-top: 50px;
    color: #8758F1;
}

.join-us img{

    width: 40px;
}


